<%- include('partials/header') %>
<div class="container mt-5">
  <h1> Attandance Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/data" method="POST">
            <div class="form-group">
              <div class="form-group">
                <label for="rollno">Roll Number</label>
                <input type="text" class="form-control" name="rn">
              </div>

            <button type="submit" class="btn btn-dark">Next</button>
          </form>

        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/header') %>
