<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Attandance Register</h1>
    <p class="lead">Please Tell me, Who are you??</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/registert" role="button">Register Teacher</a>
    <a class="btn btn-light btn-lg" href="/registers" role="button">Register Student</a><br><br>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login Teacher</a>
    <a class="btn btn-dark btn-lg" href="/logins" role="button">Student</a>


  </div>
</div>

<%- include('partials/footer') %>
