<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Welcome</h1>
    <p class="lead">What do you want!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/batch" role="button">Attendance</a>
    <a class="btn btn-light btn-lg" href="/Attendence_Register" role="button">Attendance Register</a><br><br>
    <a class="btn btn-dark btn-lg" href="/details" role="button">Details</a>
    <a class="btn btn-dark btn-lg" href="/data" role="button">Data</a>


  </div>
</div>

<%- include('partials/footer') %>
