<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Hello Student!</h1>
    <p class="lead">No more Special for, You!!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/details" role="button">Details Of your Attendence</a><br><br>
    
  </div>
</div>

<%- include('partials/footer') %>
